.landing-page-background {
  margin-bottom: -3rem;
  padding: 0;
  background-color: rgba(238, 238, 238, 0.4) !important;
  background: url("../images/landing-page-background.png");
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
}
