.project-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.project-card-footer-div {
  display: flex;
  width: 80px;
}

.project-card-footer-github-div {
  display: flex;
  align-self: flex-end;
}
.project-image {
  height: 265px;
  max-width: 265px;
}

.project-card {
  width: 265px !important;
  margin: 15px 10px !important;
}
