.project-info-image {
  width: 92px;
  height: 92px;
  margin-right: 2rem !important;
}

.project-info-card {
  height: 350px !important;
}

.project-info-card-description {
  margin-left: 1rem !important;
}