.signup-h1 {
  margin-top: 70px !important;
}

.signup-h4 {
  margin-top: 150px !important;
}

.signup-form {
  margin-top: 20px !important;
}

.signup-form .button {
  background-color: #34495e !important;
  color: white !important;
  width: 50%;
}