.user-profile-card {
  width: 250px !important;
  margin-top: 70px !important;
}

.user-profile-image {
  width: 250px !important;
  height: 250px !important;
}

.user-profile-karma {
  color: #ee7335 !important;
  margin-left: 5px !important;
}

#user-profile-name-baseline {
  font-size: 19.5px;
  margin-top: 6px;
}

#user-profile-karma-baseline {
  display: flex;
  align-items: baseline;
  font-size: 20px;
}

#user-profile-card-content {
  margin-left: 10px;
}

.user-profile-card-titles {
  margin-left: -15px;
}

.font-awesome-icon {
  margin: 0px 5px 0px 30px;
}

.fire-icon {
  margin-right: -5px !important;
}

.user-profile-tabs {
  margin-top: 70px !important;
}

.user-profile-skills .label {
  background-color: #f07f48 !important;
  color: white !important;
  font-size: 75%;
  margin-bottom: 10px !important;
}

.user-profile-videos {
  margin-top: 70px !important;
}

.user-profile-activity h5 {
  font-size: 0.96rem;
}

.user-profile-activity-icon,
.github-commit-count-icon {
  margin: 0px 3px;
}

@media only screen and (max-width: 800px) {
  .user-profile-name,
  .user-profile-karma {
    margin: 0.85rem 0.5rem !important;
  }
}
